In [1]:
import pandas as pd
import numpy as np
import random
from random import randrange

In [2]:
id_list = [x for x in range(1, 5000)]
opinions = ['Read', 'Skipped']
tags = ['tech', 'games', 'dc', 'marvel', 'movies', 'series', 'netflix', 'crypto', 'finances']
words = [randrange(100, 1000, 50) for x in range(0, len(id_list)+1)]
published_in = [randrange(0, (365 * 2)) for x in range(0, len(words)+1)]
fonts = ['Twitter', 'Instagram', 'Youtube', 'G1', 'BBC', 'google', 'others']

In [18]:
class generator:    
    _opinions = ['Read', 'Skipped']
    
    _tags = ['Tech', 'Games', 'DC', 'Marvel', 'Movies', 'Series', 'Netflix', 'Crypto', 'Finances']
    
    _words = [randrange(100, 1000, 50) for x in range(0, len(id_list)+1)]
    
    _published_in = [randrange(0, (365 * 2)) for x in range(0, len(words)+1)]
    
    
    _fonts = ['Twitter', 'Instagram', 'Youtube', 'G1', 'BBC', 'Google', 'Others']
    
    def gen_line(self, ert=15, tag='', font='', max_publication_days=-1, min_publication_days=-1, opinion='', word_max=-1, word_min=-1):
        if (tag == ''):
            tag = self._tags[randrange(0, len(self._tags), 1)]
            
        if (font == ''):
            font = self._fonts[randrange(0, len(self._fonts), 1)]
            
        if (opinion == ''):
            opinion = self._opinions[randrange(0, 2)]
            
        publication = 0
        visu = randrange(20, 1000)
        if (max_publication_days == -1):
            if (min_publication_days == -1):
                publication = self._published_in[randrange(0, len(self._published_in))]
                
            else:
                publication =  self._published_in[randrange(min_publication_days, len(self._published_in))]
        else:
            if (min_publication_days == -1):
                publication = randrange(0, max_publication_days)
            else:
                publication = randrange(min_publication_days, max_publication_days)
        
        word = 0
        if (word_min == -1):
            if (word_max == -1):
                word = self._words[randrange(0, len(self._words))]
            else:
                word = self._words[randrange(0, word_max)]
        else:
            if (word_max == -1):
                 word = randrange(word_min, len(self._words), 50)
            else:
                 word = randrange(word_min, word_max, 50)
            
        line = {
            'tag':[tag],
            'days_since_published':[publication],
            'font':[font],
            'word_count':[word],
            'estimate_read_time_min': randrange(1, ert),
            'visalization_count': visu,
            'opinion':opinion
        }
        df = pd.DataFrame(data=line)
        return df
    def gen_tendency_lines(self, ert=8, tag='', font='', word_count_min = -1, word_count_max = -1, max_publication_date=-1, min_publication_date=-1, n=600):
        op = 'Read'
        tag = self._tags[randrange(0, len(self._tags))]
        line_list = []
        maxGenerates = 100000
        biased = randrange(40, 60) / 100
        nonbias = 1 - biased
        total_bias = int(maxGenerates * biased)
        
        rest_clear = maxGenerates - total_bias
        
        # generates biased line
        for i in range(0, total_bias):
            line = self.gen_line(ert, tag, font, max_publication_date, min_publication_date, op, word_count_max, word_count_min)            
            line_list.append(line)
        
        # generetades unbiased lines
        for i in range(0, rest_clear):
            line = self.gen_line()
            line_list.append(line)
        
        ids = [x for x in range(1, len(line_list)+1)]
        id_df = pd.DataFrame(data={'id':ids})
        result = pd.concat(line_list, ignore_index=True)
        result = pd.concat([id_df, result], axis=1)
        result=result.set_index('id')
        return result

In [21]:
my_gen = generator()

In [11]:
m_line = my_gen.gen_line(tag='Tech', max_publication_days=150, min_publication_days=0,font='Youtube',word_max=200, word_min=150,opinion='Read')
m_line.drop(columns=['opinion']).to_csv
m_line

,tag,days_since_published,font,word_count,estimate_read_time_min,visalization_count,opinion
0,Tech,3,Youtube,150,8,915,Read

In [12]:
my_line = my_gen.gen_line()
my_line

,tag,days_since_published,font,word_count,estimate_read_time_min,visalization_count,opinion
0,Games,478,Google,950,12,824,Read

In [13]:
df_list = [m_line, my_line]
df_list

[    tag  days_since_published     font  word_count  estimate_read_time_min  \
 0  Tech                     3  Youtube         150                       8

    visalization_count opinion
 0                 915    Read  ,
      tag  days_since_published    font  word_count  estimate_read_time_min  \
 0  Games                   478  Google         950                      12

    visalization_count opinion
 0                 824    Read  ]

In [29]:
df = my_gen.gen_tendency_lines(tag='Tech')
df

,tag,days_since_published,font,word_count,estimate_read_time_min,visalization_count,opinion
id,,,,,,,
1,Movies,75,Google,550,2,537,Read
2,Movies,485,BBC,250,7,214,Read
3,Movies,22,Youtube,350,2,42,Read
4,Movies,344,Twitter,550,2,955,Read
5,Movies,342,Twitter,600,5,26,Read
...,...,...,...,...,...,...,...
99996,Series,126,Instagram,250,10,917,Read
99997,Games,533,BBC,750,2,727,Read
99998,Finances,685,Instagram,700,2,807,Read
99999,Movies,360,Google,100,5,755,Skipped
100000,Finances,447,Others,650,4,455,Skipped

In [30]:
df.to_csv('saitama.csv')

# Splitando e salvando em PDF

In [31]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
import numpy as np 
import pandas as pd

In [32]:
dataframe = pd.read_csv('saitama.csv')

In [33]:
X = dataframe.drop(columns=['opinion'], axis=1).copy()
y = dataframe['opinion'].copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.6, shuffle=True, stratify=y, random_state=33)

In [34]:
X_train.set_index('id')
X_test.set_index('id')

,tag,days_since_published,font,word_count,estimate_read_time_min,visalization_count
id,,,,,,
38647,Movies,562,BBC,400,6,983
85213,Games,693,Youtube,100,13,458
55930,Finances,211,G1,150,4,362
48662,Finances,120,Others,600,6,272
50902,Netflix,196,Youtube,400,10,715
...,...,...,...,...,...,...
86562,Finances,0,Twitter,250,9,671
86093,Series,606,Youtube,650,8,971
40892,Movies,489,Google,250,1,764
59945,Tech,24,BBC,500,13,94
2950,Movies,519,Twitter,200,2,904

In [35]:
X_test.to_csv('X_test.csv')
X_train.to_csv('X_train.csv')
y_train.to_csv('y_train.csv')
y_test.to_csv('y_test.csv')